.container-main {
  width: 100% !important;
  height: 100% !important;
  overflow: auto;
}

.box-shadow {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  height: 100% !important;
  padding: 10px;
}


.container-main {
  /* background-color: blue; */
  height: 100vh;
  padding: 5px;
}

/* Optional: Adjust MainContent height if needed */
.main-content-area {
  margin-top: 50px !important;
  height: calc(100vh - 12vh
      /* height of Breadcrumbs and hr */
    );
  max-height: calc(100vh - 12vh
      /* height of Breadcrumbs and hr */
    );
}

.fix-main-header {
  overflow: hidden;
  /* background-color: #333; */
  position: fixed;
  top: 0;
  width: 100%;
}

 Scrollbar manage
.main-content-area::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px;
  /* Adjust width for desired indicator thickness */
  background-color: rgba(0, 0, 0, 0.2);
  /* Set indicator color and transparency */
  opacity: 0;
  /* Hide initially */
  transition: opacity 0.3s ease;
  /* Smooth fade-in on hover */
}

.main-content-area:hover::after {
  opacity: 1;
  /* Show indicator on hover */
}

.main-content-area {
  height: 100vh;
  /* Set full viewport height */
  overflow: hidden;
  /* Hide scrollbar */
  position: relative;
  /* Required for custom scroll indicator */
}

.main-content-area::-webkit-scrollbar {
  /* Chrome, Safari, etc. */
  display: none;
  /* Hide default scrollbar */
}